<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="pakage + interface" -->
<mapper namespace="org.zerock.image.mapper.ImageMapper">
	<!-- 1. 이미지 게시판 리스트 -->
	<!-- id="method" -->
	<select id="list" resultType="org.zerock.image.vo.ImageVO">
		select rnum, no, title, id, writeDate, fileName
		from
		(
			select rownum rnum, no, title, id, writeDate, fileName
			from(
				select no, title, id, writeDate, fileName
				from image
				
				<!-- mybatis에서는 데이터 자동변환을 한다. 글자가 한자이면 char -->
<!-- 				<include refid = "search" /> -->
				
				order by no desc
			)
		)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 검색 조건 쿼리 따로 저장하기 -->
	<sql id = "search">
	
		  <!-- mybatis에서는 데이터 자동변환을 한다. 글자가 한자이면 char -->
		  <if test="word != null and word != ''.toString()">
		  	<!-- 검색하는 데이터가 있는 경우 where가 나온다. -->
		  	where 1 = 0
		  	<if test="key == 't'.toString()">
		    	OR title like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'c'.toString()">
		    	OR content like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'w'.toString()">
		    	OR writer like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'tc'">
		    	OR title like '%' || #{word} || '%'
		    	OR content like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'tw'">
		    	OR title like '%' || #{word} || '%'
		    	OR writer like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'cw'">
		    	OR content like '%' || #{word} || '%'
		    	OR writer like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'tcw'">
		    	OR title like '%' || #{word} || '%'
		    	OR content like '%' || #{word} || '%'
		    	OR writer like '%' || #{word} || '%'
		    </if>
		  </if>
	
	</sql>
	
	
	<!-- 1-1. 게시판 전체 글의 갯수 -->
	<select id="getTotalRow" resultType="java.lang.Long">
		select count(*) from image
		
		  <!-- mybatis에서는 데이터 자동변환을 한다. 글자가 한자이면 char -->
<!-- 		  <include refid ="search" /> -->

	</select>
	
	<!-- 2. 이미지 보기 -->
	<select id="view" resultType="org.zerock.image.vo.ImageVO">
		select no, title, content, id, writeDate, fileName
		from image
		where no = #{no}
	</select>
	
	<!-- 3. 이미지 등록 -->
	<insert id="write">
		insert into image(no, title, content, id, fileName)
		values(image_seq.nextval, #{title}, #{content}, #{id}, #{fileName})
	</insert>
	
	<!-- 4. 이미지 파일 수정 -->
	<update id="updateFile">
		update image set fileName =#{fileName}
		where no = #{no}
	</update>
	
	<!-- 4. 이미지 글수정 -->
	<update id="update">
		update image set title = #{title}, content=#{content}
		where no = #{no}
	</update>
	
	<!-- 5. 게시판 글삭제 -->
	<delete id="delete">
		delete from board
		where no = #{no} and pw = #{pw}
	</delete>
	
</mapper>